{% extends "layout.html.twig" %}

{% block title %}
	Page ajouter
{% endblock %}

{% block content %}
<div class="container">
	<h2 class="text-decoration-underline">Ajouter une Entreprise :</h2>
	<div class="container card mb-3">
	  	<form method="POST" class="encadre grande-margin-lr">
			<p>
				<label for="renduLabel" class="form-label">Nom de l'entreprise</label>
			</p>
			<p>
				<input type="text" class="form-control" id="renduLabel" name="nomEntreprise">
			</p>
			<input type="submit" class="btn btn-primary" name="btnAddEntreprise" value="Ajouter l'Entreprise">
		</form>
	</div>
	<h2 class="text-decoration-underline">Liste des Entreprises :</h2>
	{% for entreprise in allEntreprise %}
		<div class="container card mb-3 mt-3">
    		<p> <span class="fw-bold">IDEntreprise :</span> {{entreprise.IDEntre}}</p>
			<p> <span class="fw-bold">NomEntreprise :</span> {{entreprise.Nom}}</p>
			<form enctype="multipart/form-data" method="post" id="{{entreprise.IDEntre}}">
			<input type="hidden" value="{{entreprise.IDEntre}}" name="supprimerEntreprise"/>
			</form>
			<button class="btn btn-outline-danger" type="submit" name="submitSupprimerEntreprise" form="{{entreprise.IDEntre}}">Supprimer Entreprise</button>
			<a class="btn btn-outline-primary" href="?page=modifierEntreprise&id={{entreprise.IDEntre}}">Modifier</a>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
