{% extends "layout.html.twig" %}

{% block title %}
Page ajouter
{% endblock %}

{% block content %}


<div class="container">
	<div class="card">
		<div class="m-4">
			<h2>Ajouter un Module :</h2>

			<form action="index.php?page=addModule" method="POST" class="encadre ">
				<!-- je veux que tu ailles sur ma route addProduct en méthode POST => utilisation de la variable globale $_POST-->
				<p>
					<label for="moduleEtat" class="form-label">Etat</label>
				</p>
				<p><input type="text" class="form-control" id="moduleEtat" name="moduleEtat"></p>
				<p>
					<label for="moduleEquipe" class="form-label">Equipe</label>
				</p>
				<p>
					<select class="form-select" id="moduleEquipe" name="moduleEquipe">
				</p>
				{% for equipe in equipes %}
				<option value="{{equipe.IDEquipe}}">{{equipe.IDEquipe}}</option>
				{% endfor %}
				</select>
				</p>
				<p>
					<label for="moduleContrat" class="form-label">Contrat</label>
				</p>
				<p>
					<select class="form-select" id="moduleContrat" name="moduleContrat">
				</p>
				{% for contrat in contrats %}
				<option value="{{contrat.IDContrat}}">{{contrat.IDContrat}}</option>
				{% endfor %}
				</select>
				</p>

				<button type="submit" class="btn btn-primary m-4" name="btnAddModule">Ajouter</button>


				<!-- On va vouloir détecter quand on appuie-->
			</form>
		</div>
	</div>

	<div class="card">
		<div class="m-4">
				<h2>Liste des Modules :</h2>
				<br>

				{% for module in modules %}
				<p>
					<a href="index.php?page=modifModule&id={{module.IDModule}}" style="text-decoration: none;">Modifier</a>

					{{module.IDModule}}, Etat : {{module.Etat}}, Equipe : {{module.IDEquipe}}, Contrat :
					{{module.IDContrat}}
				</p>

				{% endfor %}
		</div>
	</div>

	<div class="card">
		<div class="m-4">

			<h2>Supprimer un module :</h2>
			<form action="index.php?page=addModule" method="POST" class="encadre grande-margin-lr">

				{% for module in modules %}
				<p>
					<input type="checkbox" name="cocheSupp[]" value="{{module.IDModule}}">
					<label for="{{module.IDModule}}">{{module.Etat}}</label>
				</p>
				{% endfor %}

				<button type="submit" class="btn btn-primary m-4" name="btnSuppModule">Supprimer</button>

			</form>
		</div>
	</div>

	<br><br><br>
</div>{% endblock %}