{% extends "layout.html.twig" %}

{% block title %}
Page ajouter
{% endblock %}

{% block content %}


<div class="container">
	<h1>Ajouter un Module :</h1>

	<form action="index.php?page=addModule" method="POST" class="encadre grande-margin-lr">
		<!-- je veux que tu ailles sur ma route addProduct en méthode POST => utilisation de la variable globale $_POST-->
		<p>
			<label for="moduleEtat" class="form-label">Etat</label>
		</p>
		<p><input type="text" class="form-control" id="moduleEtat" name="moduleEtat"></p>
		<p>
			<label for="moduleEquipe" class="form-label">Equipe</label>
		</p>
		<p>
			<select class="form-select" id="moduleEquipe" name="moduleEquipe">
		</p>
		{% for equipe in equipes %}
		<option value="{{equipe.IDEquipe}}">{{equipe.IDEquipe}}</option>
		{% endfor %}
		</select>
		</p>
		<p>
			<label for="moduleContrat" class="form-label">Contrat</label>
		</p>
		<p>
			<select class="form-select" id="moduleContrat" name="moduleContrat">
		</p>
		{% for contrat in contrats %}
		<option value="{{contrat.IDContrat}}">{{contrat.IDContrat}}</option>
		{% endfor %}
		</select>
		</p>

		<button type="submit" class="btn btn-primary" name="btnAddModule">Ajouter</button>


		<!-- On va vouloir détecter quand on appuie-->
	</form>

	<h2>Liste des Modules :</h2>
	<br>

	{% for module in modules %}
	<p>{{module.IDModule}}, Etat : {{module.Etat}}, Equipe : {{module.IDEquipe}}, Contrat : {{module.IDContrat}}</p>

	{% endfor %}

	<h1>Supprimer un module :</h1>
	<form action="index.php?page=addModule" method="POST" class="encadre grande-margin-lr">
		<select name="suppModuleSelect" id="suppModuleSelect" class="form-select">
			{% for module in modules %}
				<option>{{module.IDModule}}, Etat : {{module.Etat}}</option>
			{% endfor %}

		</select>
		<button type="submit" class="btn btn-primary" name="btnASuppModule">Ajouter</button>

	</form>

	<br><br><br>
</div>{% endblock %}