{% extends "layout.html.twig" %}

{% block title %}
	Ajouter Contrat
{% endblock %}

{% block content %}
<div class="container">
	<div class="container">
        <h2 class="text-decoration-underline">Ajouter un Outil :</h2>
        <div class="container card mb-3 mt-3">
            <form method="POST" class="encadre grande-margin-lr">
                <p>
                    <label for="Libelle" class="form-label">Nom de l'Outil :</label>
                </p>
                <p>
                    <input type="text" class="form-control" id="Libelle" name="Libelle"></p>
                </p>
                    <label for="Version" class="form-label">Version N°</label>
                </p>
                <p>
                    <input type="number" class="form-control" id="Version" name="Version" step="any">
                </p>
                <input type="submit" class="btn btn-primary" name="btnAddOutil" value="Ajouter l'Outil">
            </form>
        </div>
    </div>
    <div class="container">
        <h2 class="text-decoration-underline">Liste des Outils :</h2>
	{% for outil in allOutils %}
            <div class="container card mb-3 mt-3">
                <p> <span class="fw-bold">Numéro de l'Outil :</span> {{outil.Code}} </p>
                <p> <span class="fw-bold">Nom de l'Outil :</span> {{outil.Libelle}} </p>
                <p> <span class="fw-bold">Version de l'Outil :</span> {{outil.Version}} <p>
                <form enctype="multipart/form-data" method="post" id="{{outil.Code}}">
                    <input type="hidden" value="{{outil.Code}}" name="supprimerOutil"/>
                </form>
                <button class="btn btn-outline-danger" type="submit" name="submitSupprimerOutil" form="{{outil.Code}}">Supprimer cette Outil</button>
            </div>
	{% endfor %}
    </div>
</div>
{% endblock %}
