{% extends "layout.html.twig" %}
{% block messagerieNotif %}{{nbNotifs}}{% endblock %}

{% block title %}Coucou !{% endblock %}

{% block content %}
	<div class="container">
	{% if session.login is defined %}
		<div class="container card mb-3">
			<h2 class="text-decoration-underline">Votre Profil :</h2>
			<h4>Bonjour {{infos.Nom}} {{infos.Prenom}}</h4>
			<p>Rôle : {{ role }}</p>
			<p>Email :{{session.login}}</p>
			<p>État du compte :
				{% if infos.CompteVerifie == 1 %}
					Vérifié!
				{% else %}
					Non Vérifié!
				{% endif %}
			</p>
				<a href="?page=modifMdp&email={{session.login}}">Modifier votre mot de passe !</a>
		</div>
		{% if isdev is null %}
		<div class="container card mb-3">
			<h2 class="text-decoration-underline">Vos Groupes et Modules :</h2>
			{% if equipes is defined %}
				{% for equipe in equipes %}
					<ul class="list-group">
					<li class="list-group-item bg-info text-light">
					<span class="fs-4">Groupe N°{{ equipe.IDEquipe }} :</span>
						{% if equipeselectionner != equipe.IDEquipe %}
							<a class="link-light" href="?page=home&idequipe={{equipe.IDEquipe}}">Voir les membres et modules</a>
						{% else %}
							<a class="link-light" href="?page=home&idequipe=-1">Masquer ce groupe</a>
						{% endif %}
						</li>
						{% if equipeselectionner == equipe.IDEquipe %}
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<span class="fw-bold">Chef du Groupe :</span>
									<ul class="list-group list-group-flush">
										{% if chef is defined %}
											<li class="list-group-item">
												<span class="fw-bold">Nom :</span>
												{{chef.Nom}}
												|
												<span class="fw-bold">Prénom :</span>
												{{chef.Prenom}}
												|
												<span class="fw-bold">Email :</span>
												{{chef.Email}}
											</li>
										{% else %}
											<p>Pas de Chef de Projet défini</p>
										{% endif %}
									</ul>
								</li>
								<li class="list-group-item">
									<span class="fw-bold">Membres du Groupe : </span>
								{% for membre in membres %}
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<span class="fw-bold">Nom :</span>
											{{membre.Nom}}
											|
											<span class="fw-bold">Prénom :</span>
											{{membre.Prenom}}
											|
											<span class="fw-bold">Email :</span>
											{{membre.Email}}
										</li>
									</ul>
								{% endfor %}
								</li>
								<li class="list-group-item">
									<span class="fw-bold">Module(s) du Groupe : </span>
								{% if module is defined %}
									{% for module in modules %}
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<span class="fw-bold">Module N°{{module.IDModule}}</span>
												|
												<span class="fw-bold">État du Module :</span>
												{{module.Etat}}
												|
												<span class="fw-bold">Contrat N°{{module.IDContrat}}</span>
											</li>
										</ul>
									{% endfor %}
								{% else %}
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Aucun module attribué à ce groupe</li>
									</ul>
								{% endif %}
								</li>
							</ul>
						{% endif %}
					</ul>
					{% endfor %}
				{% endif %}
		</div>
		<div class="container card mb-3">
			<h2 class="text-decoration-underline">Outils maîtrisés :</h2>
				<div class="row">
					<div class="col">
						<h4 class="fst-italic">Liste des Outils maîtrisé :</h4>
							<ul class="list-group mb-3">
								<form method="POST" class="encadre grande-margin-lr mb-3">
									<input type="text" name="NomOutil">
									<input type="submit" name="RechercherOutil" value="Rechercher">
								</form>
								{% if outilsuser is empty %}
									<li class="list-group-item bg-danger"> Aucun outil maîtrisé sur votre profil !</li>	
								{% else %}
									{% for outiluser in outilsuser %}
										<li class="list-group-item">Logiciel : {{outiluser.Libelle}} | Version : {{outiluser.Version}}
											<form enctype="multipart/form-data" method="POST" id="{{outiluser.Code}}">
												<input type="hidden" name="supprimerOutil" value="{{outiluser.Code}}">
											</form>
											<button class="btn btn-outline-danger" type="submit" name="submitSupprimerOutil" form="{{outiluser.Code}}">Supprimer cette Outil</button>
										</li>
									{% endfor %}
								{% endif %}
							</ul>
					</div>
					<div class="col">
						<h4 class="fst-italic">Ajouter un Outil maîtrisé :</h4>
						<form method="POST" class="encadre grande-margin-lr">
						<select class="form-select" id="CodeOutil" name="CodeOutil">
						{% for outil in outils %}
							<option value="{{outil.Code}}">{{outil.Libelle}} | Version {{outil.Version}}</option>
						{% endfor %}
						</select>
						<input class="btn btn-outline-primary" type="submit" name="ajouterOutil" value="Ajouter l'Outil">

						</form>
					</div>
				</div>
		</div>
		{% endif %}
	{% else %}
		<div class="alert alert-danger" role="alert">
			<a href="?page=login" class="alert-link">Connectez vous !</a>
		</div>
	{% endif %}
	</div>
	{% endblock %}
