{% extends "layout.html.twig" %}

{% block title %}Modifier un développeur{% endblock %}

{% block content %}
<div class="container">
  <h1>Modification :</h1>
  <div style="display:grid; grid-template-columns: 1fr 1fr;" class="m-5">
    <div style="display:grid; grid-template-columns: 1fr 1fr;">

      <div>
        <div class="container">
          <form method="post" id="{{personne.IDPersonne}}">
            <label>
              Nom:
            </label>
            <input type="text" value="{{personne.Nom}}" name="Nom"/>
            <label>
              Prénom:
            </label>
            <input type="text" value="{{personne.Prenom}}" name="Prénom"/>
            <label>
              Equipe n°
            </label>
            <input type="select" value ="{{Equipe.IDEquipe}} "name="Equipe"/>
            <button type="submit" class="btn btn-dark" name="btnModifierDev"  value="{{personne.IDPersonne}}" >
              Modifier </button>
              <button type="submit" class="btn btn-dark" name="btnDeleteDev"  value="{{personne.IDPersonne}}" >
                Supprimer des Développeurs </button>
            </form>
            <form method="post" action="index.php?page=listePersonnes">
              <button type="submit" class="btn btn-dark" name="Revenir" action="index.php?page=listePersonnes" >
                  Revenir à la liste </button>
          </form>
      </div>
  </div>
</div>
{% endblock %}